<!-- Footer -->
<footer class="text-white py-4 footer-background">
  <div class="container">
      <div class="row">
          <!-- À propos -->
          <div class="col">
              <h5 class="text-white">À propos</h5>
              <ul class="list-unstyled">
                <li class="footer-link"><a href="#" class="text-white">Qui sommes-nous?</a></li>
                <li class="footer-link"><a href="#" class="text-white">Nous rejoindre</a></li>
            </ul>
          </div>

          <!-- Assistance -->
          <div class="col">
              <h5 class="text-white">Assistance</h5>
              <ul class="list-unstyled">
                <li class="footer-link"><a href="#" class="text-white">Nous contacter</a></li>
            </ul>
          </div>

          <!-- Connexion -->
          <div class="col">
              <h5 class="text-white">Connexion</h5>
              <ul class="list-unstyled">
                <li class="footer-link"><a href="#" class="text-white mt-5">Mes Informations</a></li>
                <li class="footer-link"><a href="#" class="text-white">Mes Réservations</a></li>
            </ul>
          </div>

          <!-- Trouvez nous sur -->
          <div class="col">
              <h5 class="text-white">Trouvez nous sur</h5>
              <!-- Ajoutez ici les liens vers les réseaux sociaux ou autres -->
          </div>
      </div>

        <!-- Pied de page avec logo -->
        <div class="footer-border">
          <div class="row pt-3 mt-3">
              <div class="col-md-6 text-md-start text-white">
                  © BAGNI. Tous droits réservés.
              </div>

              <div class="col-md-6 text-md-end">
                  <a href="#" class="text-white me-3">Conditions d'utilisation</a>
                  <a href="#" class="text-white me-3">Politique de confidentialité</a>
                  <a href="#" class="text-white">Mentions légales</a>
              </div>
          </div>
          <div class="footer-logo">
              <img src="assets/img/logoblack.png" alt="Logo" width="122" height="67">
          </div>
      </div>
  </div>
</footer>
