<div class="container">
<form (ngSubmit)="onSubmitForm()" [formGroup]="form">
  <label for="nom" class="col-sm-1 control-label my-4">Nom</label>
  <input type="text" formControlName="nom" id="nom"/>

  <br>

  <label for="prenom" class="col-sm-1 control-label mb-4">Prénom</label>
  <input type="text" formControlName="prenom" id="prenom"/>
  <br>

  <label for="email" class="col-sm-1 control-label mb-4">Email</label>
  <input type="email" formControlName="email" id="email"/>
  <br>
  <div *ngIf="!client">
  <label for="motDePasse" class="col-sm-1 control-label mb-4">Mot de passe</label>
  <input type="password" formControlName="motDePasse" id="motDePasse"/>
  <br>
  </div>
  <label for="pays" class="col-sm-1 control-label mb-4">Pays</label>
  <select formControlName="pays" id="pays">
      <option *ngFor="let pays of paysList" [value]="pays.code">{{ pays.nom }}</option>
  </select>
  <br>
  <div *ngIf="!client">
  <label for="lienDeParente" class="col-sm-1 control-label">Lien de parenté</label>
  <select formControlName="lienDeParente" id="lienDeParente">
      <option *ngFor="let lien of liensDeParenteList" [value]="lien.id">{{ lien.nom }}</option>
  </select>
</div>
  <br>
  <div *ngIf="client">
  <a (click)="onClickDeleteClient(client.id)" class="btn btn-danger d-flex justify-content-center mt-5">SUPPRIMER Mon compte</a>
  </div>
  <button
            type="submit"
            class="btn btn-dark btn-lg my-4"
            [disabled]="form.invalid">
            {{submitLabel}}
          </button>
</form>
</div>

