    <div class="login-container">
        <h1 class="login-title">Connexion à Plage</h1>
        <div *ngIf="errMsg" class="login-error">
            {{errMsg}}
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmitLoginForm(loginForm)" class="login-form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" placeholder="Votre email..." name="email" required email ngModel>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" class="form-control" placeholder="Votre mot de passe..." name="password" required minlength="5" maxlength="20" ngModel>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Me connecter</button>
        </form>
        <a href="register">Inscrivez-vous ici</a>
    </div>
